html, body {
    font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3,
.display-4, .display-5, .display-6, .navbar-brand {
    font-family: 'Playfair Display', serif; 
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }



.navbar, footer, .portfolio {
    background-color: #232E3A;
  }

  .navbar-toggler{
    color: #E4E4E4;
  }

.banner {
    background-image:  
        linear-gradient(rgba(35,46,58,0.3), rgba(35,46,58,1)),
    url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner h1 {
    color: #E4E4E4;

    max-width: 70%;
    margin: 0 auto;
}


.banner a:hover, .projects a:hover, .pink-button {
    background-color: #F16E71;

}


.projects {
    background-color: #232E3A;
}

